* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --check-color: rgb(255, 69, 0);
  --main-background-color: rgb(255, 255, 255);
  --border-color: rgb(240, 248, 255);
  --orange-deep: rgb(255, 69, 0);
  --font-color: rgb(0, 0, 0);
}

body {
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
}

nav ul li a {
  color: var(--font-color);
  text-decoration: none;
}

.checked {
  color: var(--check-color);
}

.stars {
  display: flex;
  flex-direction: row;
}

.reviews {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.cart {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  flex-direction: row;
}

.part {
  display: flex;
  flex-direction: row;
}

h2 {
  margin: 30px;
  font-size: 35px;
}

.desctext {
  margin: 20px;
  line-height: 30px;
  font-size: larger;
}

.stars {
  margin: 20px;
}

.price {
  margin: 20px;
  font-weight: bold;
  font-size: 40px;
}

.add {
  margin: 20px;
}

.icons {
  margin-left: 20px;
  margin-bottom: 36px;
}

.spectext {
  line-height: 35px;
}

.left {
  width: 800px;
  height: 900px;
  padding-left: 300px;
}

.right {
  width: 900px;
  height: 800px;
  padding-left: 300px;
}

.spe {
  font-size: 35px;
  font-weight: bold;
}

.star4 {
  padding-left: 5px;
}

.rev {
  padding-left: 10px;
}

.add {
  width: 350px;
  height: 50px;
  border-color: var(--border-color);
  font-weight: bold;
  letter-spacing: 159px;
}

.tocart {
  width: 350px;
  height: 50px;
  margin-left: 20px;
  color: var(--main-background-color);
  background-color: var(--orange-deep);
  border-color: var(--orange-deep);
  font-size: 25px;
}

.icons {
  margin: 20px;
  margin-bottom: 36px;
}

.lasttext {
  line-height: 35px;
  margin-top: 100px;
}

.fa-regular {
  margin: 10px;
}

.fa-solid {
  margin: 10px;
}

.icons {
  font-size: larger;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: var(--font-color);
  text-decoration: none;
}

.checked {
  color: var(--check-color);
}

.stars {
  display: flex;
  flex-direction: row;
}

.reviews {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.cart {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  flex-direction: row;
}

.part {
  display: flex;
  flex-direction: row;
}

h2 {
  margin: 30px;
  font-size: 35px;
}

.desctext {
  margin: 20px;
  line-height: 30px;
  font-size: larger;
}

.stars {
  margin: 20px;
}

.price {
  margin: 20px;
  font-weight: bold;
  font-size: 40px;
}

.add {
  margin: 20px;
}

.icons {
  margin-left: 20px;
  margin-bottom: 36px;
}

.spectext {
  line-height: 35px;
}

.left {
  width: 800px;
  height: 900px;
  padding-left: 300px;
}

.right {
  width: 900px;
  height: 800px;
  padding-left: 300px;
}

.spe {
  font-size: 35px;
  font-weight: bold;
}

.star4 {
  padding-left: 5px;
}

.rev {
  padding-left: 10px;
}

.add {
  width: 350px;
  height: 50px;
  border-color: var(--border-color);
}

.icons {
  margin: 20px;
  margin-bottom: 36px;
}

.lasttext {
  line-height: 35px;
  margin-top: 100px;
}

.fa-regular {
  margin: 10px;
}

.fa-solid {
  margin: 10px;
}

.icons {
  font-size: larger;
}
